/* Base page styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* General button styles */
button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, opacity 0.3s;
}

/* Stat box style */
.stat-box {
  width: 90%;
  padding: 10px;
  background-color: #d3d3d3; /* Light gray */
  color: black;
  margin: 10px 0;
  text-align: center;
  border-radius: 5px;
}
